# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
*.venv
#Files
*.png
*.jpg
*.jpeg

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*


# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Build / cache
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Large datasets
*.json
*.csv